In [ ]:
## A function is a block of code that performs a specific task. Functions help in organizing code, reusing code and improve redability.

In [2]:
##Syntax

def function_name(parameters):
    """"Dockstring"""
    # Function body
    return expression

In [3]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [4]:
def even_or_odd(num):
    """"This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
## Call this funcion
even_or_odd(24)

the number is even

In [6]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [9]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome to the Paradise")

greet("Aditya")

Hello Aditya Welcome to the Paradise

In [ ]:
##default parameters
def greet(name="Guest"):
    print(f"Hello {name} Welcome to the Paradise")

greet("")

Hello Aditya Welcome to the Paradise

In [17]:
##variable length arguments
##positional and keywords arguments

def print_numbers(*args):
    for number in args:
        print(number)

In [18]:
print_numbers(1,2,3,4,5,6,7,8,"Aditya")

1
2
3
4
5
6
7
8
Aditya

In [19]:
## Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(name="Aditya",age="22",country="INDIA")

name:Aditya
age:22
country:INDIA

In [22]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional argument :{val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [23]:
print_details(1,2,3,4,5,6,7,8,"Aditya",name="Aditya",age="22",country="INDIA")

 Positional argument :1
 Positional argument :2
 Positional argument :3
 Positional argument :4
 Positional argument :5
 Positional argument :6
 Positional argument :7
 Positional argument :8
 Positional argument :Aditya
name:Aditya
age:22
country:INDIA

In [24]:
## return Statements

def multiply(a,b):
    return a*b

multiply(2,3)

6

In [26]:
## return muliple parameters

def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)