The map() Function in Python

the map() function applies a given function to all items in an input list(or any other iterable) and returns a map object (an iterator).This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(10)

100

In [4]:
numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
### Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [9]:
## map() to convert a lsit of strings to inntegers
# use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [10]:
words=['appe','banana','cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']

people=[
    {'name':'Aditya','age':22},
    {'name':'Karan','age':24}
]
list(map(get_name,people))

['Aditya', 'Karan']