In [ ]:
## Tuples are ordered  Collection of items that are immutable.

In [3]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [6]:
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [7]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [8]:
mixed_tuple = (1, "Hello", 3.4)
print(mixed_tuple)

(1, 'Hello', 3.4)

In [9]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5)

In [15]:
print(numbers[0])
print(numbers[1])
print(numbers[-1])
print(numbers[0:3])
print(numbers[::2])
print(numbers[::-1])

1
2
5
(1, 2, 3)
(1, 3, 5)
(5, 4, 3, 2, 1)

In [17]:
## Tuple Operations

concatenation_tuple=numbers +  mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello', 3.4)

In [20]:
print(mixed_tuple * 3)
print(numbers * 2)

(1, 'Hello', 3.4, 1, 'Hello', 3.4, 1, 'Hello', 3.4)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [23]:
## Immutable nature of Tuples
## tuples do not support item assignment or modification

lst=[1,2,3,4,5]
print(lst)

lst[1]="Aditya"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Aditya', 3, 4, 5]

In [25]:
## Tuple Methods

print(numbers.count(3))
print(numbers.index(4))

1
3

In [26]:
## packing and Unpacking of Tuples

packed_tuple = 1, "Hello", 3.4
print(packed_tuple)

(1, 'Hello', 3.4)

In [27]:
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.4

In [28]:
##Unpacking with *

numbers=(1,2,3,4,5,6,7,8,9)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [35]:
## Nested Lists

lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.4]]
lst[0][0:3]

[1, 2, 3]

In [33]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.4)]
lst[2][0:3]

(1, 'Hello', 3.4)

In [41]:
## Nested Tuples
nested_tuple = ((1,2,3),("a","b","c"), (True,False))
print(nested_tuple)
print(nested_tuple[0])
print(nested_tuple[2][1])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
(1, 2, 3)
False

In [42]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

In [72]:
## solution 1

import builtins

# restore tuple
tuple = builtins.tuple  

tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [73]:
## solution 2
print(f"first_element : {tpl[0]}")
print(f"middle_element: {tpl[len(tpl)//2]}")
print(f"last_element : {tpl[-1]}")

first_element : 1
middle_element: 6
last_element : 10

In [75]:
## solution 3
print(tpl[0:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [ ]:
## solution 4
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(matrix)
for row in matrix:
    print(row)
print(f"Element in row 2 and column 3 is : {matrix[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element in row 2 and column 3 is : 6

In [76]:
## solution 5
tpl1=(1,2,3)
tpl2=(4,5,6)

concatenation_tuple= tpl1 + tpl2
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6)

In [77]:
## solution 6

tpl=(1,2,2,2,3,4,4,5,6)
print(f"Occurance of 2 is : {tpl.count(2)}")
print(f"Index of 2 is : {tpl.index(2)}")

Occurance of 2 is : 3
Index of 2 is : 1

In [78]:
## solution 7

tpl=(1,2,3,4,5)
a,b,c,d,e= tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [79]:
## solution 8

lst=[1,2,3,4,5]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [81]:
## solution 9

tpl_of_tpl=( (1,2,3), (4,5,6), (7,8,9) )
print(tpl_of_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [87]:
## solution 10
del tuple

tpl=(1,2,3,4,5)
lst=list(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [90]:
## solution 11

string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

In [91]:
## solution 12

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [92]:
## solution 13

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [93]:
## soltution 14

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [94]:
## Solution 15

def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15