In [ ]:
## Store value in Key-value Pairs
## Keys must be unique and immutable while values can be of any type

In [1]:
## creating a dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [2]:
student={"name": "Aditya","age":"22","grade":"25"}
print(student)

{'name': 'Aditya', 'age': '22', 'grade': '25'}

In [ ]:
## single key is always used
student={"name": "Aditya","age":"22","name":"25"}
print(student)

{'name': '25', 'age': '22'}

In [7]:
## accessing Dictionary Element

student={"name": "Aditya","age":"22","grade":"A"}
print(student['grade'])
print(student['age'])

##Accessing using get() method
print(student.get('name'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
22
Aditya
None
Not Available

In [9]:
## Modifying Dictionary Elments
## Dictionary are mutable, so you can add,update or delete elements

print(student)

{'name': 'Aditya', 'age': '22', 'grade': 'A'}

In [ ]:
student["age"]=33 ##Updated value for the key
print(student)
student["address"]="India" ##added a new key and value
print(student)

{'name': 'Aditya', 'age': 33, 'grade': 'A'}
{'name': 'Aditya', 'age': 33, 'grade': 'A', 'address': 'India'}

In [11]:
del student['grade'] ##delete key and value pair
print(student)

{'name': 'Aditya', 'age': 33, 'address': 'India'}

In [12]:
## Dictionary Methods

keys=student.keys() ## get all the keys
print(keys)
values=student.values() ##get all the values
print(values)

items=student.items() ##get all the key alue pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Aditya', 33, 'India'])
dict_items([('name', 'Aditya'), ('age', 33), ('address', 'India')])

In [13]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Aditya', 'age': 33, 'address': 'India'}
{'name': 'Aditya', 'age': 33, 'address': 'India'}

In [14]:
student["name"]="Aditya1"
print(student)
print(student_copy)

{'name': 'Aditya1', 'age': 33, 'address': 'India'}
{'name': 'Aditya1', 'age': 33, 'address': 'India'}

In [15]:
student_copy1=student.copy() ##shallow copy
print (student_copy1)
print (student)

{'name': 'Aditya1', 'age': 33, 'address': 'India'}
{'name': 'Aditya1', 'age': 33, 'address': 'India'}

In [16]:
student["name"]="Aditya2"
print (student_copy1)
print (student)

{'name': 'Aditya1', 'age': 33, 'address': 'India'}
{'name': 'Aditya2', 'age': 33, 'address': 'India'}

In [17]:
## Iterating Over Dictionaries
## you can use loops to iterate over dictionaries,keys,values or items

## Over keys
for keys in student.keys():
    print(keys)

name
age
address

In [20]:
## Over Values
for value in student.values():
    print(value)

Aditya2
33
India

In [21]:
## Over Key value Pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Aditya2
age:33
address:India

In [22]:
## Nested Dictionaries
students={
    "student1":{"name":"Aditya","age":"22"},
    "student2":{"name":"Harsh","age":"20"}
}
print(students)

{'student1': {'name': 'Aditya', 'age': '22'}, 'student2': {'name': 'Harsh', 'age': '20'}}

In [23]:
## Access Nested Dictonary elements
print(students["student2"]["name"])
print(students["student2"]["age"])

Harsh
20

In [24]:
## Iterating over nested dictionary
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Aditya', 'age': '22'}
name:Aditya
age:22
student2:{'name': 'Harsh', 'age': '20'}
name:Harsh
age:20

In [25]:
## Dictionary Comprehnesion
squares={x:x**2 for x in range (5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [27]:
## Conditional Dictionary
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [29]:
## Practical Examples

## use a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [31]:
## Merge Two dictionaries

dict1={"a":"1","b":"2"}
dict2={"b":"3","c":"4"}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': '1', 'b': '3', 'c': '4'}

In [33]:
##Solution 1
squares={i:i**2 for i in range(1,11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
##Solution 2
print(f"Value of key 5: {squares[5]}")
print(f"Keys: {list(squares.keys())}")

Value of key 5: 25
Keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
##Solution 3
squares["11"]="121" ##added a new key and value
print(squares)
squares.pop(1) ##delete key and value pair
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, '11': '121'}
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, '11': '121'}

In [44]:
##Solution 4
for key,value in squares.items():
    print(f"{key}:{value}")

2:4
3:9
4:16
5:25
6:36
7:49
8:64
9:81
10:100
11:121

In [46]:
##Solution 5
cubes={i:i**3 for i in range(1,11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [50]:
##Solution 6
s1={i:i**3 for i in range(1,6)}
print(s1)
s2={i:i**3 for i in range(6,11)}
print(s2)
s1.update(s2)
print(s1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [53]:
##Solution 7
student = {
    'name': 'John Doe',
    'age': 16,
    'grades': {
        'math': 90,
        'science': 85,
        'english': 88
    }
}
print(student)

{'name': 'John Doe', 'age': 16, 'grades': {'math': 90, 'science': 85, 'english': 88}}

In [54]:
##Solution 8
multiples = {i: [i * j for j in range(1, 6)] for i in range(1, 6)}
print(multiples)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [57]:
##Solution 9
m = {i: (i, i**2) for i in range(1, 6)}
print(m)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [58]:
##Solution 10
d = {i: i**2 for i in range(1, 6)}
list_of_tuples = list(d.items())
print(list_of_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [59]:
##Solution 11
d = {i: i**2 for i in range(1, 11)}
even_dict = {k: v for k, v in d.items() if k % 2 == 0}
print(even_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [60]:
##Solution 12
d = {i: i**2 for i in range(1, 6)}
swapped_dict = {v: k for k, v in d.items()}
print(swapped_dict)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [62]:
##Solution 13
from collections import defaultdict
default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

In [63]:
##Solution 14
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char] = count_dict.get(char, 0) + 1
    return count_dict

string = "hello world"
print(count_chars(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [64]:
##Solution 15
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}
book_json = json.dumps(book)
print(book_json)

{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}