In [1]:
a=100

In [2]:
## Declaring and Assigning Variables in Python

age=25               # Integer
name="John"         # String
height=5.9          # Float
is_student=True     # Boolean

## Printing Variables
print("Age:", age)
print("Name:", name)
print("Height:", height)

Age: 25
Name: John
Height: 5.9

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They should start with a letter or underscore (_)
## variable names are case-sensitive

#valid variable names

first_name = "Alice"
last_name = "Smith"

In [6]:
#Invalid variable names

#2age=30
#first-name="bob"
@name="Charlie"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2376185130.py, line 5)

In [9]:
# case senstitive
name="Alice"
Name="Bob"

name==Name

False

In [13]:
##understandimg variable types
## python is a dynamically typed language , type of variable is determined at runtime
age=25
height=5.9
name="John"
is_student=True

print(type(age))

<class 'int'>

In [15]:
# Type checking and Conversion

type(height)

age_str=str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [16]:
## Dynamic Typing
## python allows changing the type of a variable by reassigning it

var=10
print(var, type(var))

var="Aditya"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Aditya <class 'str'>
3.14 <class 'float'>

In [19]:
## Input

age=int(input("Enter your age: "))
print(age,type(age))

23 <class 'int'>

In [20]:
## simple calculator
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 75
Difference: -29
Product: 1196
Quotient: 0.4423076923076923